.container {
  display: flex;
  flex-direction: row;
  background-color: #77c89e;
  position: absolute;
  top: 120px;
  left: 20px;
  right: 20px;
  bottom: 60px;
  overflow: auto;
  > *{
    margin: 10px;
  }
}
