<div>
  <div class="container" *ngIf="!showOptions">
    <div class="head">
      <h2>{{ task.name }}</h2>
      <button class="more" (click)="toggleOptions()">...</button>
    </div>
    <div class="tags">
      <div class="priority">{{ task.priority }}</div>
      <div class="status">{{ task.status.toLocaleLowerCase() }}</div>
    </div>
  </div>

  <div class="options" *ngIf="showOptions">
    <div class="back-button">
      <button (click)="toggleOptions()">x</button>
    </div>
    <div class="opt-buttons">
      <button (click)="edit()" >Edit</button>
      <button (click)="duplicate()">Duplicate</button>
    </div>
    <button (click)="delete()">Delete</button>
  </div>

</div>
