
<div class="modal">
  <form class="modal-body" [formGroup]="form" (ngSubmit)="onAddTask()">
    <button class="close" (click)="close()">x</button>
    <div class="modal-content">
      <h1 *ngIf="!modifying">Add task</h1>
      <h1 *ngIf="modifying">Edit task</h1>

      <div class="main-input">

        <label for="name" [class.invalid]="nameInvalid">Name</label>
        <input type="text"
        formControlName="name"
        placeholder="Task name">

        <label for="description">Description</label>
        <textarea formControlName="description"
        placeholder="Describe this task"></textarea>

      </div>

      <div class="secondary-input">
        <div>
          <label for="priority">Priority</label>
          <select formControlName="priority">
            <option [value]="opt" *ngFor="let opt of priorities">{{opt}}</option>
          </select>
        </div>

        <div>
          <label for="status">Status</label>
          <input formControlName="status"
          type="text" placeholder="status" maxlength="8">
        </div>
      </div>

      <button class="add" type="submit">
        <div *ngIf="!modifying">Add</div>
        <div *ngIf="modifying">Edit</div>
      </button>

    </div>
  </form>
</div>
