<div class="modal">
  <div class="modal-body">
    <button class="close" (click)="close()">x</button>
    <div class="modal-content">
      <h1>Add task</h1>
      <form class="main-input" autocomplete="off" #form="ngForm">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required placeholder="Task name"
        [(ngModel)]="taskToAdd.name">
        <label for="description">Description</label>
        <textarea name="description" required id="description" placeholder="Describe this task" [(ngModel)]="taskToAdd.description"></textarea>
      </form>
      <div class="secondary-input">
        <div>
          <label for="priority">Priority</label>
          <select name="priority" id="priority" [(ngModel)]="taskToAdd.priority">
            <option [value]="opt" *ngFor="let opt of priorities">{{opt}}</option>
          </select>
        </div>
        <div>
          <label for="status">Status</label>
          <input type="text" name="status" id="status" placeholder="status" maxlength="8"
          [(ngModel)]="taskToAdd.status">
        </div>
      </div>
      <button [disabled]="!form.valid" type="submit" class="add" (click)="onAddTask()" >Add</button>
    </div>
  </div>
</div>
