<div class="main-container">
  <div class="header">
    <div class="logo">
      <div>
        <a href="">K</a>
      </div>
    </div>
    <div class="info">
      <div class="user">
        <h2>Username</h2>
        <button>🌞</button>
      </div>

      <div class="profile-pic">
        <img src="./../../../assets/default-profile.png" alt="profile">
      </div>
    </div>
  </div>
  <div class="view">
    <nav [class.active]="showViewOptions">
      <a href="boards">Boards</a>
      <a href="list">List</a>
    </nav>
    <button (click)="toggleVOptions()">VIEW</button>
  </div>
</div>
